.editPinnedContainer {
    font-family: 'Open Sans', sans-serif;
}

label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
}

.templateTextInput {
    margin: 4px;
    padding: 5px
}

.templateTextInputArea {
    width: 480px;
    margin: 4px;
    padding: 5px;
    resize: vertical;
    font-family: sans-serif;
}

.dateSeparator {
    height: 500px;
    font-weight: bold;
}

.dateContainer {
    
}

.dateTimePicker {
    z-index: 1;
}

.dateTimePicker2 {
    z-index: 2;
}

.dateTimePicker3 {
    z-index: 3;
}

.dateTimePicker4 {
    z-index: 4;
}

.dateTimePicker5 {
    z-index: 5;
}