.editPinnedContainer {
    font-family: 'Open Sans', sans-serif;
}

label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
}

.templateTextInput {
    margin: 4px;
    padding: 5px
}

.dateSeparator {
    height: 330px;
}