.editTemplateContainer {
    font-family: 'Open Sans', sans-serif;
}

label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
}

.templateTextInput {
    margin: 4px;
    padding: 5px
}

.templateTextInputLong {
    width: 300px;
    height: 100px;
    margin: 4px;
    padding: 5px
}

.expirationContainer {
    margin-top: 170px;
}

.scrollArea {
    background-color: white;
    height: 600px;
    /* border-radius: 5px; */
    /* border: 1px solid lightgray; */
}