.editPinnedContainer {
    font-family: 'Open Sans', sans-serif;
}

label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
}

.templateTextInput {
    margin: 4px;
    padding: 5px
}

.templateTextInputArea {
    width: 480px;
    margin: 4px;
    padding: 5px;
    resize: vertical;
    font-family: sans-serif;
}

.dateSeparator {
    height: 280px;
    font-weight: bold;
}