.editTemplateContainer {
    font-family: 'Open Sans', sans-serif;
}

label {
    display: block;
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
}

input[type="text"] {
    margin: 4px;
    padding: 5px
}

.expirationContainer {
    margin-top: 170px;
}