
body {
    font-family: Arial, Helvetica, sans-serif;
}
  
  .textInput {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
  }
  
  .loginButton {
    background-color: rgb(32, 151, 172);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 16.5%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .loginContainer, .loginTitle {
    text-align: center;
    padding: 16px;
  }
  
  #emailLabel {
    padding-right: 30px;
  }