h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.marker {
    height: 30px;
    width: 40px;
}

button {
    color: #484848;
    padding: 7px;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
    font-size: 1em;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    background-color: #fafafa;
}

.publishButton {
    border: 1px solid #41c78b;
    background-color: #afdfcd;
}

.saveButton {
    border: 1px solid #4ca7c7;
    background-color: #aad8df;
}

.mapContainer {
    float: right;
    width: 50%!important;
    height: 700px!important;
}

.mapTools {
    float: right;
    widtH: 500px;
    display: block;
    position: relative;
    margin: 5px auto;
}