p {
    text-align: center;
}
.marker {
    height: 30px;
    width: 40px;
}

.publishButton {
    border: 1px solid #41c78b;
    background-color: #afdfcd;
}

.saveButton {
    border: 1px solid #4ca7c7;
    background-color: #aad8df;
}

.mapContainer {
    float: right;
    width: 50%!important;
    height: 700px!important;
}

.mapTools {
    float: right;
    widtH: 500px;
    display: block;
    position: relative;
    margin: 5px auto;
}

.saveCouponsButton {

}