.pinnedContainer {
    background-color: #fafafa;
    padding: 10px;
    display: inline-block;
    float: left;
    width: 45%;
    border: 1px solid #c5c5c5;
    height: 700px;
}

.area {
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.selected {
    border: 4px solid #a1dfa6 !important;

}

.couponInstanceContainer {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
}

.singleInstance {
    display: inline-block;
    margin: 10px;
}

.instanceTools {
    font-family: 'Open Sans', sans-serif;
}

.tool {
    display: inline-block;
    margin: 8px;
}

.instanceTitle {
    text-align: center;
    padding: 5px;
    height: 50px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 4px dashed #53bb79;
}

.couponInstanceContainer:hover {
    background-color: #ecf5f2;
}


.singlepin {
    display: inline-block;
    margin: 10px;
}

.couponpinContainer {
    font-family: 'Open Sans', sans-serif;
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0 2px 5px #d2d2d2;
    border: 1px solid #d9d9d9;
}

.pinTitle {
    text-align: center;
    padding: 5px;
    height: 50px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 4px solid #aee3b2;
}

.pinDescription {
    color: #575757;
}

.couponpinContainer:hover {
    background-color: #ecf5f2;
}
