p {
    text-align: center;
}

.mapViewContainer {
    border: 1px solid #e2e2e2;
    background-color: #fcfcfc;
    width: 100%;
}

.pinnedMapContainer {
    margin: 0 auto;
    width: 50%!important;
    height: 700px!important;
}
