.PublishingContainer {
    font-family: 'Open Sans', sans-serif;
    /* height: 570px; */
}

.publishTextInputArea {
    width: 450px;
    margin: 4px;
    padding: 5px;
    resize: vertical;
}

.publishTextInput {
    margin: 4px;
    padding: 5px
}

.scrollArea {
    height: 530px
}

#accordion-example {
    
}

.dateSeparator {
    height: 500px;
    font-weight: bold;
}

.dateContainer {
    
}

.dateTimePicker {
    z-index: 1;
}

.dateTimePicker2 {
    z-index: 2;
}

.dateTimePicker3 {
    z-index: 3;
}

.dateTimePicker4 {
    z-index: 4;
}

.dateTimePicker5 {
    z-index: 5;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.publishPanel {
    
}
